body {
    background-color: #1e1e1e;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.toplink {
    color: #c8d4e4;
    padding: 10px;
    text-decoration: none; 
    cursor: pointer;
    font-size: 16px;
}
.toplink:hover {
    color: #4ea1f3;
}
